
* {
  margin: 0;
}

body {
  font-family:'Lato', 'sans-serif';
  line-height: 1;
}


html {
  font-size: 14px;
}

@media (min-width:480px) {
  html {
    font-size: 16px;
  }
}

@media (min-width:1280px) {
  html {
    font-size: 20px;
  }
}

@media (min-width:1920px) {
  html {
    font-size: 24px;
  }
}


@media (min-width:2560px) {
  html {
    font-size: 28px;
  }
}

@media (min-width:3840px) {
  html {
    font-size: 32px;
  }
}
